img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto";
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
}

.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  z-index: -2;
}

nav {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  height: 64px;
  font-size: 3rem;
}
nav .search-box {
  position: relative;
}
nav .search-option-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  gap: 5px;
  width: 100%;
}
nav .search-option {
  text-align: center;
  background-color: #eeeeee;
  cursor: pointer;
  border: none;
  transition: 0.3s scale;
}
nav .search-option:hover {
  scale: 1.05;
}
nav .search-input:focus {
  outline: none;
}
nav .logo {
  justify-self: flex-end;
  margin-right: 20px;
}
nav h1 {
  font-size: 3rem;
}
nav .logo-front {
  color: #6e1da3;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
nav .logo-back {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
nav .unit-btn {
  all: unset;
  margin-left: 5px;
  cursor: pointer;
}
nav .find-weather {
  cursor: pointer;
  margin-left: 10px;
  background-color: transparent;
  border: none;
  transition: scale 1.3s;
}
nav .find-weather:hover {
  scale: 1.07;
}

header {
  z-index: -1;
  position: relative;
  overflow: hidden;
  margin-top: 30px;
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #61224e 0%, #5f0a87 74%);
  background-image: url("../img/bg.jpg");
  background-position-y: 90%;
  border-radius: 25px;
  min-height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .card-header {
  position: relative;
  display: flex;
  opacity: 90%;
  scale: 1.5;
  background-image: linear-gradient(326deg, white, rgb(219, 217, 217));
  flex-direction: column;
  justify-content: space-around;
  border-radius: 20px;
  min-height: 200px;
  padding: 30px 30px;
  padding-bottom: 10px;
  background-image: linear-gradient(white, rgb(219, 217, 217));
}
header .card-header-date {
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 20px;
  font-size: 1.3rem;
  padding: 0.5em 1em;
  border-radius: 20px;
  background-color: #3a3a3a;
  font-weight: bold;
}
header .weather-img {
  margin-top: 25px;
  z-index: 3;
  height: 80px;
}
header .temperature-card {
  color: #3a3a3a;
  margin-top: -30px;
  text-align: center;
  font-size: 3.5rem;
}
header .sh {
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
}
header .rain-bg {
  opacity: 30%;
  background-image: url("https://media2.giphy.com/media/Wmp1EOzVybWd13s5DB/giphy.gif?cid=6c09b952rpgzo51slmyo69c61l1u9qt7rl9m20q9xl1wmpv0&ep=v1_gifs_search&rid=giphy.gif&ct=s");
}
header .week-day {
  text-transform: capitalize;
  font-weight: 600;
}
header .day-month {
  text-transform: capitalize;
}
header .date {
  margin-bottom: 20px;
}
header .location {
  color: #eeeeee;
  font-size: 3.5rem;
}
header .info {
  color: #eeeeee;
  font-size: 1.5rem;
  margin-left: -20px;
}
header .conditions {
  display: grid;
  height: 150px;
  width: 400px;
  border-radius: 15px;
  opacity: 80%;
  background-image: linear-gradient(326deg, white, rgb(219, 217, 217));
  grid-template-areas: "wind-speed pressure" "feelslike temp";
}
header .weather-condition {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 1fr;
  justify-content: space-around;
  align-items: center;
  color: rgb(29, 29, 29);
}
header .weather-condition p {
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  grid-column: 2;
}
header .weather-condition .icon {
  grid-column: 1;
  z-index: 2;
  height: 50px;
  margin-left: 15px;
  padding: 7px;
  border-radius: 3px;
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #61224e 0%, #5f0a87 74%);
}/*# sourceMappingURL=main.css.map */