img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
img {
  opacity: 0;
}

img[src] {
  opacity: 1;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Roboto";
  font-size: 62.5%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
}
.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  z-index: -2;
}
nav {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  height: 64px;
  font-size: 3rem;
  .search-box {
    position: relative;
  }
  .search-option-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    gap: 5px;
    width: 100%;
  }
  .search-option {
    text-align: center;
    background-color: #eeeeee;
    cursor: pointer;
    border: none;
    transition: 0.3s scale;
  }
  .search-option:hover {
    scale: 1.05;
  }
  .search-input:focus {
    outline: none;
  }
  .logo {
    justify-self: flex-end;
    margin-right: 20px;
  }
  h1 {
    font-size: 3rem;
  }
  .logo-front {
    color: #6e1da3;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  .logo-back {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  .unit-btn {
    all: unset;
    margin-left: 5px;
    cursor: pointer;
  }
  .find-weather {
    cursor: pointer;
    margin-left: 10px;
    background-color: transparent;
    border: none;
    transition: scale 1.3s;
    &:hover {
      scale: 1.07;
    }
  }
}
header {
  z-index: -1;
  position: relative;
  overflow: hidden;
  margin-top: 30px;
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #61224e 0%, #5f0a87 74%);
  background-image: url("../img/bg.jpg");
  background-position-y: 90%;
  border-radius: 25px;
  min-height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .card-header {
    position: relative;
    display: flex;
    scale: 1.5;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.95),
      rgba(219, 217, 217.95)
    );
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
    min-height: 200px;
    padding: 30px 30px;
    padding-bottom: 10px;
  }
  .card-header-date {
    position: absolute;
    z-index: 2;
    opacity: 1;
    top: 20px;
    left: 20px;
    font-size: 1.3rem;
    padding: 0.5em 1em;
    border-radius: 20px;
    background-image: linear-gradient(326deg, #61224e 0%, #5f0a87 74%);
    color: white;
    font-weight: bold;
  }
  .weather-img {
    margin-top: 25px;
    z-index: 3;
    height: 90px;
  }
  .temperature-card {
    color: #3a3a3a;
    text-align: center;
    font-size: 3.5rem;
  }
  .sh {
    // background-color: #000;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .rain-bg {
    opacity: 30%;
    background-image: url("https://media2.giphy.com/media/Wmp1EOzVybWd13s5DB/giphy.gif?cid=6c09b952rpgzo51slmyo69c61l1u9qt7rl9m20q9xl1wmpv0&ep=v1_gifs_search&rid=giphy.gif&ct=s");
  }
  .week-day {
    text-transform: capitalize;
    font-weight: 600;
  }
  .day-month {
    text-transform: capitalize;
  }
  .date {
    margin-bottom: 20px;
  }
  .location {
    color: #eeeeee;
    font-size: 3.5rem;
  }
  .info {
    color: #eeeeee;
    font-size: 1.5rem;
    margin-left: -20px;
  }
  .conditions {
    display: grid;
    height: 150px;
    width: 400px;
    border-radius: 15px;
    opacity: 80%;
    background-image: linear-gradient(326deg, white, rgb(219, 217, 217));
    grid-template-areas: "wind-speed pressure" "feelslike temp";
  }
  .weather-condition {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr;
    justify-content: space-around;
    align-items: center;
    color: rgb(29, 29, 29);
    p {
      text-align: center;
      font-weight: bold;
      font-size: 2.5rem;
      grid-column: 2;
    }
    .icon {
      grid-column: 1;
      z-index: 2;
      height: 50px;
      margin-left: 15px;
      padding: 7px;
      border-radius: 3px;
      background-color: #a4508b;
      background-image: linear-gradient(326deg, #61224e 0%, #5f0a87 74%);
    }
  }
}
main {
  margin-top: 20px;
  .cards-container {
    display: flex;
    overflow-x: scroll;
    gap: 30px;
    padding-bottom: 15px;
    --sb-track-color: #ffffff;
    --sb-thumb-color: #b92391;
    --sb-size: 23px;
  }
  .cards-container::-webkit-scrollbar {
    width: var(--sb-size);
  }
  .cards-container::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 5px;
  }
  .card {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    min-width: 230px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #c3cbdc;
    background-image: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 74%);
    border-radius: 20px;
    // &:hover .card__temperature {
    //   color: white;
    // }
    &:hover .card__info {
      transform: translateX(0);
    }
  }
  .card__info {
    position: absolute;
    display: flex;
    gap: 1px;
    flex-direction: column;
    justify-content: end;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(326deg, #61224e 0%, #5f0a87 74%);
    transition: transform 0.3s;
    h3 {
      color: white;
      text-align: center;
      font-size: 2.5rem;
    }
    .diagram {
      display: flex;
      height: 130px;
      rotate: X 180deg;
      margin-bottom: 50px;
      gap: 2px;
    }
    .card__temp-bar {
      flex: 1;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      background-color: white;
    }
  }
  .card__icon {
    height: 120px;
  }
  .card__time {
    text-align: center;
    font-size: 1.5rem;
    background-color: #6e1da3;
    padding: 0.25em 1em;
    border-radius: 20px;
    color: #ffff;
  }
  .card__temperature {
    text-align: center;
    color: #6e1da3;
    font-size: 3rem;
  }
  .card__description {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
  }
  .card__conditions {
    display: flex;
    align-items: center;
    color: #3a3a3a;
    font-size: 1.5rem;
  }
  .card__rain-chance {
    margin-left: 40px;
  }
  .card__wind-speed,
  .card__rain-chance {
    display: flex;
    align-items: center;
  }
  .card__wind-speed::before,
  .card__rain-chance::before {
    content: "";
    display: block;
    margin-right: 5px;
    height: 30px;
    width: 30px;
    padding: 15px;
    border-radius: 5px;
    background-color: #5f0a87;
    background-image: url("../img/weather-icon/wind.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
