img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Roboto";
  font-size: 62.5%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
}
:focus {
}
.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
nav {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  height: 64px;
  font-size: 3rem;
  .search-box {
    position: relative;
  }
  .search-option-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    gap: 5px;
    width: 100%;
  }
  .search-option {
    text-align: center;
    background-color: #eeeeee;
    cursor: pointer;
    border: none;
    transition: 0.3s scale;
  }
  .search-option:hover {
    scale: 1.05;
  }
  .search-input:focus {
    outline: none;
  }
  .logo {
    justify-self: flex-end;
    margin-right: 20px;
  }
  h1 {
    font-size: 3rem;
  }
  .logo-front {
    color: #6e1da3;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  .logo-back {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  .unit-btn {
    all: unset;
    margin-left: 5px;
    cursor: pointer;
  }
  .find-weather {
    cursor: pointer;
    margin-left: 10px;
    background-color: transparent;
    border: none;
    transition: scale 1.3s;
    &:hover {
      scale: 1.07;
    }
  }
}
header {
  margin-top: 50px;
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #61224e 0%, #5f0a87 74%);
  border-radius: 25px;
  min-height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .week-day {
    text-transform: capitalize;
    font-weight: 600;
  }
  .day-month {
    text-transform: capitalize;
  }
  .date {
    margin-bottom: 20px;
  }
  .location {
    color: #eeeeee;
    font-size: 3.5rem;
  }
  .info {
    color: #eeeeee;
    font-size: 1.5rem;
    margin-left: -20px;
  }
  .conditions {
    display: grid;
    height: 150px;
    width: 400px;
    border-radius: 15px;
    opacity: 80%;
    background-image: linear-gradient(326deg, white, rgb(219, 217, 217));
    grid-template-areas: "wind-speed pressure" "feelslike temp";
  }
}
